@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&family=Roboto:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,800;1,400;1,500;1,800&display=swap");

* {
    user-select: none;
    -moz-window-dragging: none;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #111;
    overflow: hidden;
}

.container {
    position: absolute;
    width: 42vw;
    height: 70vh;
    background-color: #202629;
    border-radius: 10px;
    overflow: hidden;

    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
.container .header::after {
    content: '';
    position: absolute;

    bottom: 0;

    width: 100%;
    height: 1%;

    box-shadow: 0 0 10px #00aaff;
    background: #00aaff;
}

.container .header {
    position: relative;
    height: 15%;
    width: 100%;

    background: #0c0f11;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2vw;
}

.container .header img {
    position: relative;

    left: 3%;

    width: 10%;
}

.container .header h1 {
    position: relative;

    color: rgba(255, 255, 255, 0.63);
    letter-spacing: 10px;

    font-family: 'Montserrat', sans-serif;
}

.container .list {
    position: relative;
    
    width: 70%;
    height: 85%;

    overflow: auto;
    direction:rtl;
}

.container .list::-webkit-scrollbar {
    width: 0.3vw;
    background: #0071aa;
}

.container .list::-webkit-scrollbar-thumb {
    width: 0.3vw;
    background: #00aaff;
    box-shadow: 0 0 3px #111;
}

.container .list .product {
    position: relative;

    background-color: #111;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    direction:ltr;

    padding: 0.5vw 0;
    min-height: 35%;
    max-height: 35%;
    min-width: 44%;
    max-width: 44%;
    margin: 0.69vw;
    margin-top: 1.4vw;
    border-radius: 10px;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container .list .product h1 {
    position: absolute;

    top: 10%;
    width: 100%;

    background: #0071aa;
    border-radius: 10px;

    transform: translateY(-0.5vw);
    line-height: 0vw;

    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);

    display: flex;
    align-items: center;
    justify-content: center;
}

.container .list .product img {
    position: absolute;
    width: 30%;
    transform: translateY(-1vw);
}

.container .list .product span {
    position: absolute;
    bottom: 20%;
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
}
.container .list .product i {
    position: absolute;
    bottom: 0;
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
    background: #0071aa;
    border-radius: 8px;

    padding: 0.5vw;
    width: 90%;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: 0.2s;
}

.container .list .product i:hover {
    background: rgb(0, 144, 216);
    animation: waas 1s;
}



.container .basket {
    position: absolute;

    right: 0;
    top: 15%;

    width: 30%;
    height: 85%;

    border-left: 1px solid #00aaff;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container .basket .warenkorb {
    position: absolute;

    top: 4%;

    width: 90%;
    height: 50%;

    border-radius: 10px;
    background: #111;
    overflow: hidden;
}

.container .basket .warenkorb::before {
    content: 'Warenkorb';
    position: absolute;

    width: 100%;
    height: 10%;

    background: #0071aa;
    color: #fff;
    font-weight: 600;
    font-family: 'Montserrat';

    display: flex;
    align-items: center;
    justify-content: center;
}

.container .basket .warenkorb .warenliste {
    position: absolute;
    top: 10%;
    background: rgba(0,0,0, 0.1);
    height: 90%;
    width: 100%;

    overflow: auto;
    scroll-snap-type: y proximity;
}

.container .basket .warenkorb .warenliste::-webkit-scrollbar {
    width: 0.3vw;
    background: #0071aa;
}

.container .basket .warenkorb .warenliste::-webkit-scrollbar-thumb {
    width: 0.3vw;
    background: #00aaff;
    box-shadow: 0 0 3px #111;
}

.container .basket .warenkorb .ware {
    position: relative;

    scroll-snap-align: start;
    width: 100%;
    padding: 0.1vw 0;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);

    font-family: 'Montserrat',sans-serif;
    font-weight: 600;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3vw;
}


.container .basket .warenkorb .ware h1 {
    position: relative;

    font-weight: 600;
    font-size: 0.75vw;
    color: rgba(255, 255, 255, 1);
}
.container .basket .warenkorb .ware span {
    position: relative;

    color: #0071aa;
    text-shadow: 0 0 10px #0071aa;
    font-size: 0.75vw;
}

.container .basket .warenkorb .ware img {
    position: absolute;

    left: 5%;
    width: 10%;
}

.container .basket .warenkorb .ware i {
    position: absolute;

    right: 5%;
    width: 10%;
    color: #ff0000;
    text-shadow: 0 0 10px #ff0000;
    transition: 0.4s;
}

.container .basket .warenkorb .ware i:hover {
    color: #b10000;
    text-shadow: none;

    animation: waa 1s;
}

@keyframes waa {
    0% {
        transform: rotate(20deg);
    }
    50% {
        transform: rotate(-20deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes waas {
    0% {
        transform: rotateZ(1deg);
    }
    50% {
        transform: rotateZ(-1deg);
    }
    100% {
        transform: rotateZ(0deg);
    }
}


.container .basket .payment {
    position: absolute;
    
    top: 58%;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}

.container .basket .payment div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container .basket .payment div h1,h2 {
    font-size: 0.6vw;

    font-family: 'Montserrat';
    font-weight: 600;
    color: rgba(255, 255, 255, 0.8);
}

.container .basket .payment i {
    padding: 0.5vw 2vw;
    border-radius: 10px;
    background: #0071aa;

    color: rgba(255, 255, 255, 0.5);
    transition: 0.2s;
}

.container .basket .payment i:hover {
    color: rgba(255, 255, 255, 0.7);
}

.container .basket .payment i.active {
    color: rgba(255, 255, 255, 1);
}

.container .basket .buy {
    position: absolute;

    bottom: 20%;

    width: 73%;
    padding: 1vw 1vw;

    color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 2px rgba(0,0,0, 1);
    border-radius: 10px;
    background: #0071aa;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;

    display: flex;
    align-items: center;
    justify-content: center;
}